<div class="container py-5">
    <h1 class="text-center font-weight-bolder display-5">Create New Account</h1>
    <%= render 'shared/errors', obj: @user%>
    <%= simple_form_for @user do |f| %>
    <%= f.input :username, label: 'Your username please', error: 'username is mandatory, please specify one' %>
    <%= f.input :email, label: 'Your email please', error: 'email is mandatory, please specify one' %>
    <%= f.button :submit, "Sign up", class: "btn btn-success w-100" %>
    <% end %>

    <%= link_to "Login", login_path, class: "btn btn-primary my-3 w-100"%>
</div>